################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CompanyEmployees/CompanyEmployees/obj
/CompanyEmployees/CompanyEmployees/bin/Debug/netcoreapp3.1
